In [ ]:
#pip install  mysql-connector-python

In [6]:
import yfinance as yf
#mysql connector for creating connection
import mysql.connector

In [1]:

# Connecting from the server
database = mysql.connector.connect(user = 'root',
                               host = 'localhost',
                              database = 'testDB',
                              passwd = 'Tharif786')

# Preparing a cursor object
cursorObject = database.cursor()

In [86]:
# Make sure to fetch any pending results before executing a new query
cursorObject.execute("SHOW TABLES")
tables = cursorObject.fetchall()

# Print the table names to consume the result
for table_name in tables:
    print(table_name[0])

stocks

In [ ]:

# Now, create the Stocks table
create_table_query = """
CREATE TABLE Stocks (
    Stock_name VARCHAR(26),
    OPEN DECIMAL(15,10),
    CLOSE DECIMAL(15,10),
    HIGH DECIMAL(15,10),
    LOW DECIMAL(15,10)
);
"""

# Execute the query to create the table
cursorObject.execute(create_table_query)

# Commit the changes
database.commit()

print("Table 'Stocks' created successfully.")

In [74]:
ticker='AAPL'
data=yf.download(ticker,period="1mo")

[*********************100%%**********************]  1 of 1 completed

In [64]:
print(data)

                  Open        High         Low       Close   Adj Close  \
Date
2024-07-15  236.479996  237.229996  233.089996  234.399994  234.128998
2024-07-16  235.000000  236.270004  232.330002  234.820007  234.548523
2024-07-17  229.449997  231.460007  226.639999  228.880005  228.615387
2024-07-18  230.279999  230.440002  222.270004  224.179993  223.920807
2024-07-19  224.820007  226.800003  223.279999  224.309998  224.050659
2024-07-22  227.009995  227.779999  223.089996  223.960007  223.701080
2024-07-23  224.369995  226.940002  222.679993  225.009995  224.749847
2024-07-24  224.000000  224.800003  217.130005  218.539993  218.287323
2024-07-25  218.929993  220.850006  214.619995  217.490005  217.238556
2024-07-26  218.699997  219.490005  216.009995  217.960007  217.708008
2024-07-29  216.960007  219.300003  215.750000  218.240005  217.987686
2024-07-30  219.190002  220.330002  216.119995  218.800003  218.547043
2024-07-31  221.440002  223.820007  220.630005  222.080002  221.823242
2024-08-01  224.369995  224.479996  217.020004  218.360001  218.107544
2024-08-02  219.149994  225.600006  217.710007  219.860001  219.605804
2024-08-05  199.089996  213.500000  196.000000  209.270004  209.028061
2024-08-06  205.300003  209.990005  201.070007  207.229996  206.990402
2024-08-07  206.899994  213.639999  206.389999  209.820007  209.577423
2024-08-08  213.110001  214.199997  208.830002  213.309998  213.063385
2024-08-09  212.100006  216.779999  211.970001  216.240005  215.990005
2024-08-12  216.070007  219.509995  215.600006  217.529999  217.529999
2024-08-13  219.104996  221.710007  219.009995  221.379303  221.379303

               Volume
Date
2024-07-15   62631300
2024-07-16   43234300
2024-07-17   57345900
2024-07-18   66034600
2024-07-19   49151500
2024-07-22   48201800
2024-07-23   39960300
2024-07-24   61777600
2024-07-25   51391200
2024-07-26   41601300
2024-07-29   36311800
2024-07-30   41643800
2024-07-31   50036300
2024-08-01   62501000
2024-08-02  105568600
2024-08-05  119548600
2024-08-06   69660500
2024-08-07   63516400
2024-08-08   47161100
2024-08-09   42201600
2024-08-12   37992400
2024-08-13   19575623

In [75]:
data["Date"] = data.index


data.reset_index(drop=True,inplace=True)
data = data[["Date", "Open", "High", "Low", "Close",  "Volume"]]

In [76]:
print(data)

         Date        Open        High         Low       Close     Volume
0  2024-07-15  236.479996  237.229996  233.089996  234.399994   62631300
1  2024-07-16  235.000000  236.270004  232.330002  234.820007   43234300
2  2024-07-17  229.449997  231.460007  226.639999  228.880005   57345900
3  2024-07-18  230.279999  230.440002  222.270004  224.179993   66034600
4  2024-07-19  224.820007  226.800003  223.279999  224.309998   49151500
5  2024-07-22  227.009995  227.779999  223.089996  223.960007   48201800
6  2024-07-23  224.369995  226.940002  222.679993  225.009995   39960300
7  2024-07-24  224.000000  224.800003  217.130005  218.539993   61777600
8  2024-07-25  218.929993  220.850006  214.619995  217.490005   51391200
9  2024-07-26  218.699997  219.490005  216.009995  217.960007   41601300
10 2024-07-29  216.960007  219.300003  215.750000  218.240005   36311800
11 2024-07-30  219.190002  220.330002  216.119995  218.800003   41643800
12 2024-07-31  221.440002  223.820007  220.630005  222.080002   50036300
13 2024-08-01  224.369995  224.479996  217.020004  218.360001   62501000
14 2024-08-02  219.149994  225.600006  217.710007  219.860001  105568600
15 2024-08-05  199.089996  213.500000  196.000000  209.270004  119548600
16 2024-08-06  205.300003  209.990005  201.070007  207.229996   69660500
17 2024-08-07  206.899994  213.639999  206.389999  209.820007   63516400
18 2024-08-08  213.110001  214.199997  208.830002  213.309998   47161100
19 2024-08-09  212.100006  216.779999  211.970001  216.240005   42201600
20 2024-08-12  216.070007  219.509995  215.600006  217.529999   37992400
21 2024-08-13  219.104996  221.710007  219.009995  221.347107   19615901

In [35]:

cursorObject.execute("desc stocks")
tables = cursorObject.fetchall()
print(tables)

# Print the table names to consume the result
for table_name in tables:
    print(table_name[0])

[('Stock_name', 'varchar(26)', 'YES', '', None, ''), ('OPEN', 'decimal(15,10)', 'YES', '', None, ''), ('CLOSE', 'decimal(15,10)', 'YES', '', None, ''), ('HIGH', 'decimal(15,10)', 'YES', '', None, ''), ('LOW', 'decimal(15,10)', 'YES', '', None, ''), ('Date', 'date', 'YES', '', None, '')]
Stock_name
OPEN
CLOSE
HIGH
LOW
Date

In [32]:
query="truncate Stocks"
#query="ALTER TABLE Stocks ADD Date Date" 
cursorObject.execute(query)

In [77]:
import datetime

open_values = data['Open'].values
close_values = data['Close'].values
high_values = data['High'].values
low_values = data['Low'].values

date_values = data['Date'].values

for open, close, high, low, date in zip(open_values, close_values, high_values, low_values, date_values):
    # Convert numpy.datetime64 to datetime
    date_as_datetime = datetime.datetime.utcfromtimestamp(date.astype('O')/1e9)
    
    # Format the datetime object as a string
    formatted_date = date_as_datetime.strftime('%Y-%m-%d')
    
    # Insert the formatted date into the SQL query, enclosed in single quotes
    query = f"INSERT INTO stocks (stock_name, open, close, high, low, Date) VALUES ('AAPL', {open}, {close}, {high}, {low}, '{formatted_date}')"
    cursorObject.execute(query)

database.commit()

In [83]:
query = "SELECT * FROM Stocks WHERE Date = '2024-07-29'"
cursorObject.execute(query)

values = cursorObject.fetchall()
print(values)

[('AAPL', Decimal('216.9600067139'), Decimal('218.2400054932'), Decimal('219.3000030518'), Decimal('215.7500000000'), datetime.date(2024, 7, 29))]

In [56]:
database.close()